# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Database
db/
chroma_db/  
SERVER/db/


# Data directories
hadith/
SERVER/transcripts/*.json

28f8e38b-2cd6-474a-b04f-5e1e2fd6fac2/
failed_ids.txt
*.tmp
.env
SERVER/db/*.sqlite3
SERVER/db/**/*.bin
SERVER/db/*.sqlite3
SERVER/db/
SERVER/db/*

SERVER/db/*.sqlite3
SERVER/db/*.bin

SERVER/db/28f8e38b-2cd6-474a-b04f-5e1e2fd6fac2/
RAG/db/*.bin
RAG/db/*.sqlite3
